@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
	
/*--------------Body----------------*/
body {
  min-height: 100vh;
	background-color: #070a0c;
}
.height {
    height: 100vh
}
.main {
	margin-top: 50px;
	text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#createform_content {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
#form_wrapper {
  background-image: url('img/wala.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#createform_content input, #createform_content select  { 
	width: 50%;
	display: inline;
 }
	/*======Header======*/
	header {
    background: black;
		z-index: 100;
	}

  .user-container {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    /*border: 1px whitesmoke solid;*/
  }
  .user-container a { 
    margin: 5px;
  }
	.main td, .main tr {
		background-color:#0e1720; 
		color: #87959f; 
		border-color: #2a333c; 
		border-width: 2px;
	}
	.main thead, .main th {background-color: #1a2242; color: #5954d8;}
  /* Style The Dropdown Button */
.dropbtn {
  min-width: 140px;
  min-height: 50px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}
	/*======Footer=====*/
  footer{
    height: 0px;
    width: 100%;
    background: black;
    position: absolute;
    bottom: 0px;
  }
	footer, footer a{
		color: whitesmoke;
	}
	/*============Search Container==========*/
  #input_container {
    height: 40px;
  }
  #input_container * {
    height: 100%;
  }
  #search_btn { 
    width: 65px;
    text-align: center;
    alignment-baseline: central;
    position: relative;
    right: 6px;
    top: -3px;

  }
  #add_btn {
    position: relative;
    top: -3px;
  }
  #search_input {
    text-indent: 10px;
    border-width:0px;
    border:none;
    outline:none;
  }


/*------------Create.php-----------------*/
.create {
  min-height: 90vh;
}

#goback_btn {
  position: relative;
  margin: 20px;
}
input:valid {
  color: green;
}
input:invalid {
  color: red
}
/*-----------Signup.php0-----------------*/
  .form-control{
    height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
  }
  .form-control:focus{
    background: #e2e2e2;
  }
    .form-control, .btn{        
        border-radius: 3px;
    }
  .signup-form{
    width: 390px;
    margin: 30px auto;
  }
  .signup-form form{
    color: #999;
    border-radius: 3px;
      margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
  .signup-form h2 {
    color: #333;
    font-weight: bold;
        margin-top: 0;
    }
    .signup-form hr {
        margin: 0 -30px 20px;
    }    
  .signup-form .form-group{
    margin-bottom: 20px;
  }
  .signup-form input[type="checkbox"]{
    margin-top: 3px;
  }
  .signup-form .row div:first-child{
    padding-right: 10px;
  }
  .signup-form .row div:last-child{
    padding-left: 10px;
  }
    .signup-form .btn{        
        font-size: 16px;
        font-weight: bold;
    background: #3598dc;
    border: none;
    min-width: 140px;
    }
  .signup-form .btn:hover, .signup-form .btn:focus{
    background: #2389cd !important;
        outline: none;
  }
    .signup-form a{
    color: #fff;
    text-decoration: underline;
  }
  .signup-form a:hover{
    text-decoration: none;
  }
  .signup-form form a{
    color: #3598dc;
    text-decoration: none;
  } 
  .signup-form form a:hover{
    text-decoration: underline;
  }
    .signup-form .hint-text {
    padding-bottom: 15px;
    text-align: center;
    }

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}