<!-- The search form -->
<form class="container-sm" action="result.php" method="POST">
  <div class="search"> 
    <!-- Dropdown -->
    <select class="form-select btn-primary" name="searchfield">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Search in
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <option value="*" selected>ALL</option>
        <option value="courseID">CourseID</option>
        <option value="courseName">Course Name</option>
        <option value="credits">Credits</option>
        <option value="totalHours">Total Hours</option>
        <option value="classroomType">Classroom Type</option>
        <option value="term">Term</option>
        <option value="tuition">Tuition</option>
        <option value="description">Description</option>
      </ul>
    </select>
    <input type="text" class="form-control" placeholder="Search with keyword" name="searchterm">
    <a class="btn btn-primary" href="create.php">Insert</a> 
    <div class="btn btn-primary" value="submit">Submit</div> 
    <div class="btn btn-primary" type="reset">Reset</div>
  </div>
</form>